body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fffcd0;
}

.header {
    text-align: center;
}

.header img {
    width: 100%;
    max-width: 150px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.header h2 {
    color: #e6da3a;
    text-align: center;
    font-size: 35px;
    line-height: 1.0;
    letter-spacing: -3px;
    line-height: 0.1
}

.header p {
    color: #0e0e0e;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 17px;
    line-height: 0.9;
}

.operadores-logicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 17px;
    padding-bottom: 40px;
}

.operadores-logicos h3 {
    color: #0e0e0e;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.operadores-logicos p {
    color: #0e0e0e;
    font-size: 17px;
}

.tabela-operadores {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

.tabela-operadores th,
.tabela-operadores td {
    padding: 8px;
    border: 1px solid #a5a5a5;
}

.tabela-operadores td:nth-child(1),
.tabela-operadores td:nth-child(3) {
    text-align: center;
    color: #e62a91;
}

.tabela-operadores td:nth-child(2),
.tabela-operadores td:nth-child(4) {
    text-align: left;
}

.tabela-operadores th {
    text-align: center;
    background-color: #f8f18c;
}

.tabela-operadores td {
    background-color: #fcfbf5;
}

.footer {
    margin-top: 50px;
    background-color: #0e0e0e;
    color: #c5c5c5;
}

.footer p {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    font-size: 12px;
}

.footer a {
    color: #e6da3a;
}
